@import url("https://rsms.me/inter/inter.css");

body {
  font-family: "Inter";
  margin: auto;
  padding: 0;
  max-width: 80%;
  line-height: 1.4;
  color: #251938;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

h1 {
  font-weight: 800;
  font-size: 48px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

h3 {
  font-weight: 400;
  font-size: 32px;
}

h4 {
  font-weight: 600;
  font-size: 28px;
}

h5 {
  font-weight: 500;
  font-size: 24px;
}

h6 {
  font-weight: 700;
  font-size: 14px;
}

p {
}

.card-wrapper {
  display: flex;
  flex-direction: row;
}

.card {
  padding: 16px 40px 16px 40px;
  border-radius: 6px 10px 10px 10px;
  border: 2px solid #000000;
  border-bottom: 6px solid #000000;
  border-right: 6px solid #000000;
  margin: 12px;
}

ul {
  padding-left: 36px;
}

li {
  list-style: none;
  padding-bottom: 12px;
}

li::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: -36px;
  margin-top: 4px;
  position: absolute;
  background-image: url("tick.png");
  background-size: cover;
}

.gray {
  color: #837d8d;
}

.center {
  text-align: center;
}

.ptop-large {
  padding-top: 120px;
}

.pbottom-medium {
  padding-bottom: 80px;
}
